header {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

header p {
  margin: 0;
}

header .height {
  height: 40px;
}

header .tel {
  line-height: 40px;
  color: #29b078;
}

header .jianju {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  padding-right: 0;
  list-style: none;
}

header .cnt-wrap {
  background-color: #29b078;
  height: 100px;
}

header .tu {
  height: 100px;
  display: flex;
  align-items: center;
}

header .gai {
  text-align: center;
  font-size: 17px;
  line-height: 100px;
  padding-right: 0;
  display: inline-block;
}

header .gai:hover .dropdown {
  display: block;
}

header .lianjie {
  color: #fff;
}

header .lianjie:hover {
  color: #fff;
}

header .dropdown {
  display: none;
  background-color: #fff;
  height: 5px;
  margin-top: -5px;
}

footer {
  background-color: #29b078;
  color: #fff;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

footer .wrap {
  padding-top: 30px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

footer .bottom {
  margin-bottom: 20px;
}

footer .width {
  width: 130px;
}

footer .wrap-2 {
  padding: 1% 0;
  border-top: 1px solid #38c58a;
}

footer .img {
  position: absolute;
  top: 13%;
  right: 15%;
  /* bottom: 0;
  left: 0; */
}

footer .bkuan {
  width: 30%;
}

@media screen and (max-width: 3000px) {
  header .bai {
    border-bottom: 4px solid;
    padding-bottom: 42%;
  }
}

@media screen and (max-width: 1200px) {
  header .bai {
    border-bottom: 4px solid;
    padding-bottom: 52%;
  }
}

@media screen and (max-width: 1000px) {
  header .img {
    height: auto;
  }
  header .jianju {
    margin-top: 8px;
    display: table-cell;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 80%;
  }
  header .bottom-wrap {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 65%;
  }
  header .col-md-8 {
    float: left;
  }
  header .bai {
    border-bottom: 4px solid;
    padding-bottom: 75%;
  }
  footer {
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  header .bottom-wrap, header .jianju {
    display: none;
  }
  header .jianju-2 {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 78%;
  }
  header .yanse {
    color: #29b078;
  }
  header .height, header .cnt-wrap {
    height: auto;
  }
  header .column {
    display: none;
  }
  header input[type='checkbox'] {
    display: none;
  }
  header input[type="checkbox"]:checked ~ ul {
    display: block;
  }
  header .meun {
    margin-top: 100px;
  }
  header label {
    position: absolute;
    top: -70px;
    right: 0;
    bottom: 0;
    left: 81%;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 46px;
  }
  header .dian {
    list-style: none;
    text-align: center;
    line-height: 35px;
  }
  header .dian:hover {
    background: #38c58a;
  }
}

@media screen and (max-width: 3000px) and (min-width: 750px) {
  header .jianju-2, header .meun {
    display: none;
  }
}
