main .juzhong {
  padding: 60px 0 20px 0;
  text-align: center;
}

main .left {
  text-align: left;
}

main p {
  color: #999;
}

.main-1 .flex-wrap {
  margin-top: 80px;
  padding-bottom: 20px;
  text-align: center;
}

.main-1 .icon-wrap {
  margin-bottom: 35px;
  height: 70px;
}

.main-1 .help {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.main-1 .nop {
  color: #29b078;
}

.main-1 .lastone {
  text-align: left;
  border-left: 1px dashed #999;
}

.main-1 .lastone .lo-top {
  margin-left: 35px;
  padding-top: 49px;
}

.main-1 .lastone .lo-bottom {
  margin-top: 20px;
  margin-left: 35px;
  padding-bottom: 20px;
}

.main-2 .wrap {
  margin-bottom: 60px;
}

.main-2 .style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-2 .juzhong {
  padding: 60px 0 20px 0;
  text-align: center;
}

.main-2 .circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #29b078;
  background-color: #fff;
  box-shadow: 0 0 7px #888;
  text-align: center;
}

.main-2 .size {
  width: 50%;
  color: #999;
}

.main-2 .margin {
  margin-right: 55px;
}

.main-3 .flex-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 7px #888;
}

.main-3 .icon-wrap {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  overflow: hidden;
}

.main-3 img {
  margin: -5px 0 0 -5px;
}

.main-3 p {
  width: 87%;
}

.main-3 h4 {
  margin: 30px 0;
}

.main-3 .dot {
  color: #fff;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-3 .dot div {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #fff;
  margin: 0 3px;
  box-shadow: 0 0 1px #888;
}

.main-3 .dot .color {
  background-color: #29b078;
}

.main-4 .color {
  background-color: #fff;
  height: 191px;
}

.main-4 .wrap {
  width: 231px;
  height: 191px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  margin-right: 3px;
  margin-bottom: 3px;
}

.main-4 .wrap:hover {
  box-shadow: 0 0 9px #888;
}

.main-5 {
  background-color: #fff;
  padding-bottom: 20px;
}

.main-5 .width {
  width: 117px;
}

.main-5 .wrap {
  color: #999;
}

.main-5 .col-md-1 {
  margin-bottom: 15px;
}

.main-5 a {
  color: #999;
}

@media screen and (max-width: 1200px) {
  .main-4 .wrap {
    width: 191px;
  }
  .main-5 .width {
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .main-1 .lastone {
    text-align: center;
    border-top: 1px dashed #999999;
    border-left: transparent;
  }
  .main-1 .other {
    text-align: center;
  }
  .main-2 .img {
    width: 0;
  }
  .main-2 .style {
    justify-content: center;
    margin-bottom: 3%;
    text-align: left;
  }
  .main-2 .size {
    margin-right: 0;
    padding-left: 20px;
  }
  .main-2 .wrap {
    margin: 0;
  }
  .main-4 .color {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: auto;
  }
  .main-4 .wrap {
    width: 95%;
  }
  .main-5 .width {
    display: inline-block;
    text-align: center;
    width: 24%;
  }
}

@media screen and (max-width: 360px) {
  .main-5 .width {
    width: 49%;
  }
}
