$clr-green: #29b078;
$clr-white: #fff;
$clr-gray-9: #999;
$clr-gray-8: #888;
$clr-bgc: #fafafa;

$size-18: 18px;
$size-14: 14px;


@mixin flex-a($a) {
    display: flex;
    align-items: $a;   
}
@mixin flex-j($a) {
    display: flex;
    justify-content: $a;  
}
@mixin flex-f($a) {
    display: flex;
    flex-direction: $a;
}
@mixin flex-aj($a,$b) {
    display: flex;
    align-items: $a;
    justify-content: $b;
}
@mixin flex-af($a,$b) {
    display: flex;
    align-items: $a;
    flex-direction: $b;
}
@mixin flex-ajf($a,$b,$c) {
    display: flex;
    align-items: $a;
    justify-content: $b;
    flex-direction: $c;
}
@mixin w-h($a,$b) {
    width: $a;
    height: $b;    
}

body{
    background-color: $clr-bgc;
}
main{
    .juzhong {
        padding: 100px 0 73px 0;
        text-align: center;
    }
    .left{
        text-align: left;
    }
    p{
        color: $clr-gray-9;
    }
}
.main-1{
    h4{
        margin-bottom: 30px;
    }
    .size-18{
        font-size: $size-18;
    }
    .flex-wrap{
        margin-top: 80px;
        padding-bottom: 20px;
        text-align: center;
    }
    .icon-wrap{
        margin-bottom: 35px;
        height: 70px;
        @include flex-aj(flex-end, center);
    }
    .help{
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .nop{
        color: $clr-green;
    }
    .lastone{
        text-align: left;
        border-left: 1px dashed $clr-gray-9;
        .lo-top{
            margin-left: 35px;
            padding-top: 49px;
        }
        .lo-bottom{
            margin-top: 20px;
            margin-left: 35px;
            padding-bottom: 20px;
        }
    }
}
.main-2{
    .wrap{
        margin-bottom: 60px;
    }
    .style{
        @include flex-aj(center, space-between);
    }
    .juzhong{
        padding: 100px 0 73px 0;
        text-align: center;
    }
    .circle{
        @include w-h(50px, 50px);
        line-height: 50px;
        border-radius: 50%;
        color: $clr-green;
        background-color: $clr-white;
        box-shadow: 0 0 7px $clr-gray-8;
        text-align: center;
    }
    .size{
        width: 50%;
        color: $clr-gray-9;
        font-size: $size-14;
    }
    .margin{
        margin-right: 55px;
    }
}
.main-3{
    .flex-wrap{
        @include flex-af(center, column);
        padding: 20px 0;
        background-color: $clr-white;
        box-shadow: 0 0 7px $clr-gray-8;
        h4{
            margin: 30px 0;
        }
    }
    .icon-wrap{
        @include w-h(108px, 108px);
        border-radius: 50%;
        overflow: hidden;
    }
    img{
        margin: -5px 0 0 -5px;
    }
    p{
        width: 87%;
    }
    .dot{
        color: $clr-white;
        padding-top: 20px;
        @include flex-aj(center, center);
        div{
            @include w-h(10px, 10px);
            border-radius: 50px;
            background: $clr-white;
            margin: 0 3px;
            box-shadow: 0 0 1px $clr-gray-8;
        }
        .color{
            background-color: $clr-green;
        }
   }
}
.main-4{
    margin-bottom: 95px;
    .color{
        background-color: $clr-white;
        height: 191px;
    }
    .wrap{
        @include w-h(231px, 191px);
        @include flex-aj(center, center);
        overflow: hidden;
        background-color: $clr-white;
        margin-right: 3px;
        margin-bottom: 3px;
        &:hover{
            box-shadow: 0 0 9px $clr-gray-8;
        }
    }
}
.main-5{
    background-color: $clr-white;
    padding-bottom: 20px;
    .width{
        width: 117px;
    }
    .wrap{
        color: $clr-gray-9;
    }
    .col-md-1{
        margin-bottom: 15px;
    }
    a{
        color: $clr-gray-9;
        font-size: $size-14;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    h4{
        padding: 22px 0 29px 0;
    }

}
@media screen and (max-width: 1200px){
    .main-4 {
        .wrap {
            width: 191px;
        }
    } 
    .main-5 {
        .width{
            width: 20%;
        }
    } 
}
@media screen and (max-width: 1000px){
    .main-1 {
        .lastone {
            text-align: center;
            border-top: 1px dashed #999999;
            border-left: transparent;
        }
        .other{
            text-align: center;
        }
    } 
    .main-2 {
        .img{
            width: 0;
        }
        .style{
            justify-content: center;
            margin-bottom: 3%;
            text-align: left;
        }
        .size{
            margin-right: 0;
            padding-left: 20px;
        }
        .wrap{
            margin: 0;
        }
    }
    .main-4 {
        .color{
            @include flex-af(center, column);
            background-color: transparent;
            height: auto;
        }
        .wrap{
            width: 95%;
        }
    }
    .main-5 {
        .width{
            display: inline-block;
            text-align: center;
            width: 24%;
        }
    }
}
@media screen and (max-width: 360px){
    .main-5 {
        .width{
            width: 49%;
        }
    }
}