@charset "UTF-8";
html, body, p, input, button, span {
  margin: 0%;
  padding: 0%;
}

button {
  outline: none;
}

body {
  background-color: #f0f0f0;
  font-size: 62.5%;
}

header {
  background-color: #29bde0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
}

header div {
  width: 15px;
  height: 15px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transform: rotate(315deg);
  position: absolute;
  top: 1.5rem;
  left: 20px;
}

main {
  margin-top: 4.5rem;
  padding: 0 10px;
}

main .bgc {
  background-color: #ffffff;
  box-shadow: 0 0 1px #9a9a9a;
  margin-bottom: 5px;
}

main .content-1 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

main .content-2 {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-around;
}

main .content-2 span {
  margin-top: 7px;
}

main .content-2 span .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fbb435;
}

main .content-2 span p {
  margin-left: 5px;
}

main .content-2 span .middle {
  display: inline-block;
  vertical-align: middle;
}

main .content-2 span .span {
  padding: 5px;
}

main .content-3 {
  width: 100%;
  height: 6rem;
}

main .content-3 .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

main .content-3 .wrap p {
  font-size: 18px;
  font-weight: bold;
}

main .content-3 .wrap .s-c {
  font-size: 15px;
  color: #fbb435;
}

main .content-3 .wrap input[type=text] {
  width: 40px;
  height: 35px;
  text-align: center;
  border: none;
  background-color: #f0f0f0;
  color: #fbb435;
  margin: 0 5px;
}

main .content-4 {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content-4 input[type=range] {
  -webkit-appearance: none;
  width: 69%;
  height: 5px;
  background: -webkit-linear-gradient(#fbb435, #fbb435) no-repeat;
  background-size: 0% 100%;
  outline: none;
  cursor: pointer;
}

main .content-4 input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2.5rem;
  height: 1.5rem;
  background: url(../js-2/fp-img/meun.png) no-repeat 0 0/cover;
  margin-top: -10px;
  border: none;
  cursor: pointer;
}

main .content-4 input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  box-shadow: inset 0 0.125em 0.125em #fbb435;
  /*轨道内置阴影效果*/
}

main .content-4 input[type=range]:focus {
  outline: none;
}

main .content-4 .jian {
  background: url(../js-2/fp-img/jian.png) no-repeat 0 0/cover;
}

main .content-4 .jia {
  background: url(../js-2/fp-img/jia.png) no-repeat 0 0/cover;
}

main .content-4 .style {
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
}

main button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
  background-color: #fbb435;
  border: none;
  cursor: pointer;
}
