html, body, p, input, button, span {
  margin: 0%;
  padding: 0%;
}

button {
  outline: none;
}

body {
  background-color: #29bde0;
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 4rem;
  font-size: 20px;
  padding: 0 20px;
  border-bottom: 1px solid #74d4eb;
}

main {
  padding: 5% 10% 10% 10%;
}

main .wrap_3 {
  margin-bottom: 4.5rem;
}

main .wrap_3 img, main .wrap_3 .circle {
  display: none;
}

main .wrap_3 .demo {
  width: 20vw;
  height: 20vw;
  margin: 4% 3%;
  background-color: #f5c97b;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  position: relative;
}

main .wrap_3 .demo2 {
  margin-top: 30%;
  font-size: 4.5vw;
}

main .wrap_3 .demo3 {
  font-size: 2vw;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #83b09a;
  position: absolute;
  bottom: 0;
}

footer {
  width: 100%;
  height: 4.5rem;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #29bde0;
}

footer button {
  width: 80%;
  height: 50px;
  background-color: #fbb435;
  border: 5px solid #fbb435;
  color: #fff;
  font-size: 20px;
}
